/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  /*  부모요소가 되는 기준이 됨. 모든inner는 중앙정렬하도록함. */
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
  color:#333;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  /* 일치선택자 */
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  /* transparent : 투명 */
  color:#333;
}
.btn.btn--brown {
  color:#592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold {
  color:#D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color:#fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
/* scroll spy 이용해야하는 것들 */
.back-to-position {
  opacity: 0;
  /* 투명 */
  transition: 1s;
}
.back-to-position.to-right {
/* 일치 선택자 */
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
} 
.show .back-to-position.delay-1 {
  transition-delay: .3s;
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;
}

/* HEADER */
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top:0;
  z-index: 9;
}
header >.inner {
  height: 120px;
  /* header의 자식요소만 120px임. */
}
header .logo{
  height: 75px;
  position:absolute;
  top:0;
  bottom: 0;
  left:0;
  margin: auto;
/*   display: none; /* 잠시 로고를 안 보이게 하는 방법 */ 
}
header .sub-menu {
  position: absolute;
  display: flex;
  top: 10px;
  right: 0;
}
header .sub-menu ul.menu {
  font-family: Arial,sans-serif;
  /* display:flex 요소를 수평으로 정렬 */
  display: flex;
}
header .sub-menu ul.menu li {
  position:relative;
}
header .sub-menu ul.menu li::before {
/* :: < 가상 요소 선택자. 뒤에 사용할 명령어?를 입력함. 여기선 before 이고, 사용하려면 content필수임. (글자없으면 걍""로 냅두면 됨) */
  content:"";
/*   display: block; -> position:absolute; 로 되어서 이미 속성이 변해서 중복 x */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* position: absolute; 혹은, position: fixed 를 하면 display=block 속성으로 자동으로 바뀐다. */
  position:absolute;
  top:0;
  bottom:0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before{
  /* Sing in 앞에 별도로 | 이 표시 없애기!!!! 
  first-child 가상클래스선택자 추가하기 */
  display: none;
}
header .sub-menu ul.menu li a {

  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
} 
header .sub-menu .search {
  position: relative;
  height: 34px;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #777;
  font-size: 12px;
    /* input 창이 커졌다 작아졌다 전환 효과 -> 눌렀을때 좀 더 부드럽게 작동 */
  transition: width .4s;
}
header .sub-menu .search input:focus { 
  width: 100px;
  border-color:#669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0; 
  bottom: 0;
  right: 5px;
  margin: auto;
  /* 아이콘 전환 효과 -> 눌렀을때 좀 더 부드럽게 작동. all(전체)은 생략가능. */
  transition: all .4s;
}
header .sub-menu .search.focused .material-icons {
  /* 검색 icon이 focused 인 경우 icon안 보이게 하기 */
  opacity:0;
}
header .main-menu {
  display: flex; /* 메뉴들 이름을 수평정렬함. */
  bottom: 0;
  right: 0;
  z-index: 1;
  /* position:absolute - 부모요소(position:relative) 기준으로 위치 잡는것. */
  position: absolute;
}
header .main-menu .item {

}
header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  /* position:fixed s
    요소를 일반적인 문서 흐름에서 제거하고, 페이지 레이아웃에 공간도 배정하지 않습니다. 대신 뷰포트의 초기 컨테이닝 블록을 기준으로 삼아 배치합니다. top이나 bottom속성을 사용하지 않아 수직위치 값이 없다면,
    요소의 원래 위치를 그대로 사용한다. 만약 position:absolute;를 사용했다면,
    (위치상)부모 요소를 기준으로 하므로 화면의 뷰포트 좌우 끝까지 못늘어남.*/
  position: fixed;
  left:0;
  display: none;
}
header .main-menu .item:hover .item__contents {
/* item__contents 뿐만 아니라 item class의 다른 요소들도 hover 효과에 영향줘야하므로 item:hover를 준다. */
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  /* 큰메뉴 커피|에스프레소 음료 의 공간이 수평정렬함 */
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
/* header .main-menu .item .item__contents .contents__menu > ul > li ul {} */
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color:#669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  /* 이미지를 담을 그릇의 모양 -> 모서리 둥글게 */
  border-radius: 10px;
  /* overflow : 삽입된 이미지 자체. 담을 그릇을 넘치지않게 */
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}
/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -1px;
}
footer .menu li:last-child::before {
  display: none;
/* 안보이게하겠다. */
}
footer .menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
footer .menu li a.green {
  color:#669900;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
} 
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  text-align: center;
  font-size: 12px;
  margin-top: 12px;
}
footer .logo {
  /* 이미지 요소는 가로가 이미 정해져있으므로 별도로 가로 지정안해도됨 */
  margin: 30px auto 0; 
  /* margin : 상 중 하; 공백  */
}

