/* VISUAL */
.visual {
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
/*   background-color: orange; */
}
.visual .title {
/* inner 와 같이 큰 기능이 없는 경우에는 생략해주는게 나음 */
  position: absolute;
  top: 88px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
/* 일치선택자, cup1 선택자+image선택자 */
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}
.visual .cup2.image {
/* 일치선택자, cup1 선택자+image선택자 */
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top:321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  right: 275px;
}
.visual .fade-in {
  opacity: 0;
}
/* NOTICE */
.notice {

}
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  background-color: #333;
  position: absolute;
  top:0;
  left: 0;
  width: 50%;
  height: 100%;
}
.notice .notice-line .bg-right {
  background-color: #f6f5ef;
  position: absolute;
  top:0;
  right: 0;
  width: 50%;
  height: 100%;
}
.notice .notice-line .inner {
  height: 62px;
  /* inner의 부모요소인 notice-line 의 height값이 없으므로, height 속성은 auto이고,
  세로 너비가 최대한 줄어들려고 한다. 그런데 inner 부분에 걸려서 부모요소인 notice -line 의 height 역시 200px이 된다. */
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  /* align-items < 수직정렬 */

}
.notice .notice-line .inner__left h2 {
  color:#fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper .swiper-slide a {
  color:#fff;

}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color:#fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* justify-content : 수평정렬 */
  align-items: center;
} 
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}
.notice .promotion {
  position: relative;
  height: 693px;
  background-color: #f6f5ef;
  /* toggle 버튼 (프로모션 우측 버튼 관련내용 */
  transition: height .4s;
  /* overflow : 요소가 줄어들면서, 안에 있는 이미지나 내용들이 넘치지 않게함 */
  overflow: hidden;
}
.notice .promotion.hide {
/* .promotion.hide 두개 띄어쓰기X. 일치선택자이므로!!! */
/* toggle 버튼 (프로모션 우측 버튼 관련내용 */
  height: 0;

}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
/*   width: calc(100% - 50%);  -calc는 많이 사용됨. %로도 계산 가능! 
  가로가 819px 짜리 img 3개, 그 사이10px 씩 띄어쓰기하므로 도합 20px임.*/
  height: 553px;
  /* 화면을 아무리 줄여도 해당 이미지를 꼭! 중앙배치하고 싶을 경우 사용법 
  position:absolute 를 주고, left 에서 50% 우측이동후에, margin-left 를 사용해
  -값으로, 전체 promotion영역의 절반만큼(1238.5 px) 왼쪽으로 이동하게 함.*/
  position: absolute;
  top:40px;
  left:50%;
  margin-left: calc((819px * 3 + 20px)/-2);
}
.notice .promotion .swiper-slide {
  opacity: .5;
  transform: opacity 1s;
  position: relative;
 }
.notice .promotion .swiper-slide-next {
  opacity: 1;
} 
.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline:none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  /* 가상 선택자 last-child : 가장 마지막에 있는 동그라미 요소에는 우측 6px없어도됨*/
  margin-right: 0;
} 
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
} 
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  /* 다중 선택자는 줄바꿈을 해줘서 쓰기.
   두개의 선택자에 같은 걸 적용시킴.  */
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top:300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color:#fff;
}
/* REWARDS */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%;
  background-color: #272727;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%; 
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #d5c798;
}
.rewards .inner {
  background-image: url('../images/rewards.jpg');
/*   background-color: orange;
 slash 랑 back 이랑 헷갈리지 말고 잘쓰자!!!!!!! */
  height: 241px;
}
.rewards .btn-group {
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
} 
.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1;;
}
/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 700px;
  background: #333;
  overflow: hidden;
}
.youtube .youtube_area {
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9/16/-2);
}
.youtube .youtube_area::before {
  content:"";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.youtube .youtube_cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .inner {
  height: 700px;

}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150;
}

/* SEASON PRODUCT */
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner {
  height: 400px;
/*   position: relative; 이미 COMMON .inner 에서 설정해줌.*/
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}
.season-product .text-group .more {

}

/* RESERVE SECTION */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner {

  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top:110px;
  left:0;
}
.reserve-coffee .text-group {
  position: absolute;
  top:124px;
  left:200px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0; 
}
/* PICK YOUR FAVOLITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* scroll할 때 요소가 같이 scroll하지 않고 BG가 VIEW PORT에 FIX 된다= 스크롤해도 같이 이동하지 않음.! */
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
}
.pick-your-favorite .text-group {
  margin-left: 100px;
  display: flex;
  width: 362px;
  flex-wrap: wrap;
  /* 박스테두리 밖으로 안나가게 정렬하기 */
  justify-content: flex-end;
  /* 우측정릴하기 */
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
} 
/* RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
    perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  backface-visibility: hidden;
  transition: 1s;
  position: absolute;
}
.reserve-store .medal .front {
  transform: rotateY(0deg);
}
.reserve-store .medal:hover .front {
  transform: rotateY(-180deg);
}
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}
/* hover 위치 주의하기 front:hover , back:hover가 아님!@!!medal:hover임~! */
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}
/* FIND THE STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");


}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  position: absolute;
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  /* 그림자 넣기 마지막은 rgba(,,,투명도)  */
}
.find-store .picture1 {
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}
/* AWARDS */
.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper {
  width: 100%;
  height: 40px;
}
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color:#fff;
  opacity: 30%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  border: 2px solid #f6f5ef;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  color:#f6f5ef;
}